---
http_interactions:
- request:
    method: get
    uri: http://unshuffle.me/api/1/tasks?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="faketoken"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"091d710cbf9c40b0155ef41236df24a4"'
    body:
      encoding: US-ASCII
      string: ! '{"response":[{"completed_at":null,"created_at":"2013-02-20T04:56:10Z","detail":null,"id":1460,"priority":null,"snoozed_until":null,"state":"archived","title":"Example:
        This is an archived task. Archive tasks you''ve decided not to do but don''t
        want to lose.","updated_at":"2013-03-13T04:56:10Z","user_id":58},{"completed_at":null,"created_at":"2013-02-27T04:56:10Z","detail":null,"id":1461,"priority":null,"snoozed_until":null,"state":"new","title":"Example:
        This task has been sitting in your Inbox for a while, you should archive it
        or prioritize it.","updated_at":"2013-03-13T04:56:10Z","user_id":58},{"completed_at":"2013-03-13T04:56:10Z","created_at":"2013-03-06T04:56:10Z","detail":null,"id":1467,"priority":null,"snoozed_until":null,"state":"completed","title":"Example:
        Thi[...]
